<!DOCTYPE html>
<html>
    <body>
        <h2>
            HTML FORMS
        </h2>
    <form action="/submit" method="post">
            <label for="science">Science:</label><br>
            <input type="text" name="science" id="science" value="0"><br><br>
            <label for="maths">Maths:</label><br>
            <input type="text" name="maths" id="maths" value="0"><br><br>
            <label for="c">C:</label><br>
            <input type="text" name="c" id="c" value="0"><br><br>
            <label for="data">Data Science:</label><br>
            <input type="text" name="data" id="data value="0"><br><br>
            <input type="submit" name="" id="" value="Submit"><br>
    </form>
        <p>If you click the "Submit" buttom the form will be sent to a page called "/submit"</p>
    </body>
    

</html>
